@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* #C4E1F2
#A68358
#8C7C68
#5386A6
#402C21 

#BFB6A4
#608BA6
#024873
#023859
#011526*/

body {
    background-color: #87a2b33d;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

div#principal {
    width: 80%;
    background-color: rgba(245, 245, 245, 0.904);
    margin: 10px 0px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px #ffffff8e;
}

div#principal>header {
    margin: 10px 5px;
    padding: 5px;
}

div#principal>header>h1 {
    color: #31221a;
    font-size: 1.6em;
    text-shadow: 1px 1px 1px #402c21bb;
}

nav {
    color: #011526;
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    margin-left: -8px;
    padding-left: 0px;
    display: flex;
    justify-content: flex-end;
    background-color: #00468b;
    position: sticky;
    top: 0;
    z-index: 1;
    
}

nav>a {
   margin: 0px 20px;
    color: black;
    text-decoration: none;
    text-shadow: 1px 1px 1px #31221a8c;
    font-size: 1.0em;
    transition: background-color 0.5s;
}
nav>a>svg {
   display: block;
   margin: auto;
}

nav>a:hover {
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 4px;
    padding: 4px;
}
nav>a svg path {
    fill:whitesmoke;
}
nav>a:hover svg path {
    fill:rgb(0, 5, 73);
}


/* div#principal>header>nav>a.none {
    border-right: none;
} */

div#principal>main>section {
    padding: 5px;
    margin: 5px;
}

div#principal>main>section>h2 {
    color: #31221a;
    margin-bottom: 15px;
    font-size: 1.2em;
    text-shadow: 1px 1px 1px #31221a52;
}

div#principal>main>section>p {
    font-size: 1.0em;
    line-height: 20px;
    text-align: justify;
}

div#principal>main>section>h3 {
    color: #31221a;
    font-size: 1.1em;
    margin-left: 10px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px #31221a46;
}

div#principal>main>section>a {
    margin-bottom: 10px;
}

div#principal>main>section>a>img {
    width: 100%;
    height: 70%;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #00558a86;
    margin-bottom: 10px;
}




div#principal>main>section>div#flex-column{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

div#principal>main>section>div#flex-column>div.listaflex{
    padding: 5px;
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
   
}

div#principal>main>section>div#flex-column>div.listaflex>h3 {
    color: #31221a;
    font-size: 1.1em;
    margin-left: 10px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px #31221a59;
}


div#principal>main>section>div#flex-column>div.listaflex>a>img {
    background-color: #1b2601;
    width: 100%;
    height: 240px;
    border-radius: 5px;
    margin: auto;
    box-shadow: 2px 2px 4px #00558a86;
    margin-bottom: 10px;
}

div#principal>main>section>div#flex-column>div.listaflex>P {
    width: 70%;
}




div#principal>main>section>div.hr {
    width: 100%;
    height: 2px;
    background-color: #8C7C68;
    box-shadow: 2px 2px 4px #8C7C68;
    margin-bottom: 15px;
    margin-top:15px;
}

div#principal>main>section>div#flex-column>div.hr {
    width: 100%;
    height: 2px;
    background-color: #8C7C68;
    box-shadow: 2px 2px 4px #8C7C68;
    margin-bottom: 15px;
    margin-top:15px;
}

div#center{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

a#projetos{
    text-decoration: none;
    color: #31221a;
    font-size: 1.1em;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    width: 70%;
    margin-left: 0px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 2px #31221a6e;
   
}
a#projetos:hover{
    background-color: #001263cb;
    color: snow;
    font-size: 1.0em;
    padding: 6px;
   
}

div#principal>main>section>h3.extras {
    color: #31221a;
    font-size: 1.1em;
    margin-left: 10px;
    margin-bottom: 0px;
    text-shadow: 1px 1px 1px #31221a46;
}

ul{
    list-style-type: none;
    padding: 10px;
}

ul:first-of-type li:nth-child(1) i {color:orangered}
ul:first-of-type li:nth-child(2) i {color:rgb(0, 0, 255)}
ul:first-of-type li:nth-child(3) i {color:yellow}
ul:first-of-type li:nth-child(4) i {color:rgb(11, 43, 185)}

ul:last-of-type li:nth-child(1) i {color:rgb(50, 36, 170)}
ul:last-of-type li:nth-child(2) i {color:orangered}
ul:last-of-type li:nth-child(3) i {color:green}



section > ol{
    list-style: none;
    padding: 0px 10px;
}

section>ol>li{
    margin-bottom: 4px;
}

section>ol>li>a{
    text-decoration: none;
    color: #31221a;
}
section>ol>li>a:hover{
    text-decoration: none;
    color:#0A66C2;
}
ol:first-of-type li:nth-child(1) i {color:#D44638}
ol:first-of-type li:nth-child(2) i {color:#0A66C2}
ol:first-of-type li:nth-child(3) i {color: #181717}


abbr{
    text-decoration: none;
    margin-left: 4px;
}

footer{
    color: #011526;
    margin-top: 5px;
    padding: 10px;
    width: 100vh;
    padding-left: 0px;
    background-color: #001e55;
}

footer ol{
    display: flex;
    padding: 2px;
    flex-flow: row;
    justify-content: space-evenly;
}

footer ol li {
    list-style-type: none;
    padding: 4px;
   
}