*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


/* #BFA463
#BFA463
#FFC745
#457EFF
#677BAA */


div#princiapl,div#root,div#nota{
  background-color: #39445c;
  width: 100vw;
  height: 100vh;
}
div#nota{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
}

h1#titulo{
  text-align: center;
  padding:20px;
  font-size: 2.5em;
  color: #e9b02c;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 1px 1px 2px #ffffff8a;
  -webkit-text-stroke-width: 0.1px; /* largura da borda */
    -webkit-text-stroke-color: #ffffff; /* cor da borda */
}

div#notas{
  background-color: black;
  margin: 10px;
  width: 40%;
  height: 35%;
  border-radius: 6px;
  border-bottom-right-radius: 60px;
  padding: 10px;
  box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.452);
}

div#notas>h2{
  text-align: center;
  padding: 5px;
  color: #FFC745;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 1px 1px 2px rgba(245, 245, 245, 0.74);
}



/* const getRandomColor = () => {
  const letters = "0123456789ABCDEF";
  let color = "#";
  for (let i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
};

<div id="notas">
  {props.notas.map((nota) => (
    <div
      key={nota.id}
      style={{ backgroundColor: getRandomColor(), padding: "10px", marginBottom: "10px" }}
    >
      <h2>{nota.titulo}</h2>
      <p>{nota.descricao}</p>
    </div>
  ))}
</div> */